<div class="pt-6 px-4">
    <h1 class="text-3xl	font-bold mb-4">Dashboard</h1>
    <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <wallet-balance></wallet-balance>
        <wallet-transaction></wallet-transaction>
    </div>
    <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
       <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
          <div class="flex items-center">
             <div class="flex-shrink-0">
                <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">2,340,498.00</span>
                <h3 class="text-base font-normal text-gray-500">Total Staked BTC2</h3>
             </div>
             <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                14.6%
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
             </div>
          </div>
       </div>
       <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
          <div class="flex items-center">
             <div class="flex-shrink-0">
                <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">18,355,8736.109</span>
                <h3 class="text-base font-normal text-gray-500">Current Circulation</h3>
             </div>
             <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                32.9%
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
             </div>
          </div>
       </div>
       <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
          <div class="flex items-center">
             <div class="flex-shrink-0">
                <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">10.01</span>
                <h3 class="text-base font-normal text-gray-500">Current Paid Reward per month</h3>
             </div>
             <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                -2.7%
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
             </div>
          </div>
       </div>
    </div>
    <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2 mt-4">
            <div class="bg-white mb-4 p-4 sm:p-6 h-full">
               <div class="flex items-center justify-between mb-4">
                  <h3 class="text-xl font-bold leading-none text-gray-900">Latest Tweets</h3>
                  <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
                  View all
                  </a>
               </div>
               <div class="flow-root">
                  <ul role="list" class="divide-y divide-gray-200">
                     <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                           <div class="flex-shrink-0">
                              <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/neil-sims.png" alt="Neil image">
                           </div>
                           <div class="flex-1 min-w-0">
                              <p class="text-sm font-medium text-gray-900 truncate">
                                 Neil Sims
                              </p>
                              <p class="text-sm text-gray-500 truncate">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                              </p>
                           </div>
                        </div>
                     </li>
                     <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                           <div class="flex-shrink-0">
                              <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/bonnie-green.png" alt="Neil image">
                           </div>
                           <div class="flex-1 min-w-0">
                              <p class="text-sm font-medium text-gray-900 truncate">
                                 Bonnie Green
                              </p>
                              <p class="text-sm text-gray-500 truncate">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                              </p>
                           </div>
                        </div>
                     </li>
                     <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                           <div class="flex-shrink-0">
                              <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/michael-gough.png" alt="Neil image">
                           </div>
                           <div class="flex-1 min-w-0">
                              <p class="text-sm font-medium text-gray-900 truncate">
                                 Michael Gough
                              </p>
                              <p class="text-sm text-gray-500 truncate">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                              </p>
                           </div>
                        </div>
                     </li>
                     <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                           <div class="flex-shrink-0">
                              <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/thomas-lean.png" alt="Neil image">
                           </div>
                           <div class="flex-1 min-w-0">
                              <p class="text-sm font-medium text-gray-900 truncate">
                                 Thomes Lean
                              </p>
                              <p class="text-sm text-gray-500 truncate">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                              </p>
                           </div>
                        </div>
                     </li>
                     <li class="pt-3 sm:pt-4 pb-0">
                        <div class="flex items-center space-x-4">
                           <div class="flex-shrink-0">
                              <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/lana-byrd.png" alt="Neil image">
                           </div>
                           <div class="flex-1 min-w-0">
                              <p class="text-sm font-medium text-gray-900 truncate">
                                 Lana Byrd
                              </p>
                              <p class="text-sm text-gray-500 truncate">
                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
                              </p>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
    </div>
 </div>