<div name="fade">

    <div v-show="show_modal" class="fixed inset-0 z-30">

        <!--       background -->
        <div v-show="show_modal" (click)="showModal()"
             class="bg-filter bg-white opacity-25 fixed inset-0 w-full h-full z-20">
        </div>
        <!--          -->
        <div class="flex flex-col items-center justify-center h-full w-full">
            <div name="fade-up-down">
                <div v-show="show_modal" class="modal-wrapper inline-block flex items-center z-30">
                    <div
                         class="modal max-w-md mx-auto xl:max-w-5xl lg:max-w-5xl md:max-w-2xl bg-white max-h-screen shadow-lg flex-row rounded relative">

                        <div class="modal-header p-5 bg-gray-900 text-gray-900 rounded-t">
                            <h5 class="text-white text-2xl">Generate New Wallet</h5>
                        </div>
                        <div class="modal-body p-5 w-full h-full overflow-y-auto ">
                            <p>Copy and save this file to the very secret place!</p>
                            <pre>
                                <code>{{code}}</code>
                             </pre>
                        </div>
                        <div class="modal-footer py-3 px-5 border0-t text-right">
                            <button class="bg-green-500 px-5 py-2 text-white" (click)="showModal()">Download</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div>
    <span class="text-gray-300 font-bold">lorem text</span><br>
    <button class="bg-green-500 text-white px-6 py-3 rounded" (click)="showModal()">
        show modal
    </button>
</div>
