<div class="mx-auto my-36 flex h-[350px] w-[350px] flex-col border-2 bg-white text-black shadow-xl">
    <div class="mx-8 mt-7 mb-1 flex flex-row justify-start space-x-2">
        <div class="h-7 w-3 bg-[#0DE6AC]"></div>
        <div class="w-3 text-center font-sans text-xl font-bold">
            <h1>Login</h1>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <input class="my-2 w-72 border p-2" type="password" placeholder="Password" />
    </div>
    <div class="mx-8 mt-7 mb-1">
        <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
    </div>
    <div class="mx-8 mt-7 mb-1 flex items-center justify-between">
        <span class="border-b w-1/5 md:w-1/4"></span>
        <span class="text-xs text-gray-500 uppercase">or</span>
        <span class="border-b w-1/5 md:w-1/4"></span>
    </div>
    <div class="mx-8 mt-7 mb-1">
        <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600" (click)="alertConfirmation()">Create New
            Wallet</button>
    </div>
</div>